

/*--------- generic class for all images in content section ---*/
        /*this is referred to for JS Animation script*/
.thisImage {   
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 2%;
  padding-bottom: 1%;

}

.contentWrap {
  width: 100%;
  top: -51px;
  margin-top: 3%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

}


.glow {
      box-shadow: 0 0 5px 3px rgba(255, 145, 36, 0.96);

}




/*--------------------  content: Farm ---------*/
/*--------------------  content: Farm ---------*/
/*-------------------- content: Farm ---------*/

/*.stuck {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 3;
  }*/



#farmWrapID {
    position: relative;  
  /*padding-top: 51px;*/
  /*top: -51px;*/

}
.farmWrap {
  /*position: fixed;  */
  /*width: 100%;*/
  /*height: 600px;*/
  /*padding: 10px;*/
  /*margin-top: 28px;*/
  top: -51px;

}

.farm {
  /*margin-right: 9%;*/
  /*position: relative;
  z-index: 2;
  /*background-color: rgba(169, 239, 192, 0.25);*/
/*
  background: -webkit-linear-gradient(270deg, #ffffff 5%, #a9efc0 35%);
  background: -moz-linear-gradient(270deg, #ffffff 5%,  #a9efc0 35%);
  padding: 3%;*/


}

#farmID {
  position: relative;
  z-index: 2;
  background: -webkit-linear-gradient(270deg, #ffffff 5%, #a9efc0 25%);
  background: -moz-linear-gradient(270deg, #ffffff 5%,  #a9efc0 25%);
  padding-left: 5%;
  padding-right: 8%;
  padding-top: 4%;
}

#farmID:before  {

    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    /*z-index: 0;*/
    background-image: url('../img/placeHolderPics/randomFarmHouse.jpg');
   opacity: 0.2;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.farmContent {
  position: relative;
  font-size: 16px;
  display: inline;
  z-index: 10;
  margin-right: 9%;

}



.farmImage1 {
  display: inline-block;
  width: 30%;
  height: auto;
  float: left;
  margin: 1%;
  z-index: 10;
}
.farmImage2 {
  display: inline-block;
  width: 30%;
  height: auto;
  float: right;
  margin: 1%;
  z-index: 10;
}
.farmImage3 {
  display: inline-block;
  width: 30%;
  height: auto;
  float: none;
  margin: 1%;
  z-index: 10;
}

/*-------------------  content styles: vet life -----------*/
/*-------------------  content styles: vet life -----------*/
/*-------------------  content styles: vet life -----------*/




#vetLife {

}
#vetLifeWrapID {
    position: relative;  
  /*padding-top: 51px;*/
}

.vetLifeWrap {
  /*position: relative;  */
  /*width: 100%;*/
  /*padding: 10px;*/
  /*margin-top: 28px;*/
  /*top: -51px;*/
}

#vetLifeID {
  position: relative;
  z-index: 2;
  background: -webkit-linear-gradient(270deg,  #a9efc0 1%, #36728c 20%);
  background: -moz-linear-gradient(270deg,  #a9efc0 1%, #36728c 20%);
  padding-left: 5%;
  padding-right: 8%;
    padding-top: 4%;

}

#vetLifeID:before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-image: url('../img/placeHolderPics/randomFarmHouse2.jpg');
   opacity: 0.2;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.vetLifeContent {
  position: relative;
  font-size: 16px;
  display: inline;
  z-index: 10;
  margin-right: 9%;
  color: #fff;
}

.vetLifeImage1 {
  display: inline-block;
  width: 30%;
  height: auto;
  float: left;
  margin: 1%;
  z-index: 10;
}
.vetLifeImage2 {
  display: inline-block;
  width: 30%;
  height: auto;
  float: right;
  margin: 1%;
  z-index: 10;
}
.vetLifeImage3 {
  display: inline-block;
  width: 30%;
  height: auto;
  float: none;
  margin: 1%;
  z-index: 10;
}


/*-------------------  content styles: the decline -----------*/
/*-------------------  content styles: the decline -----------*/
/*-------------------  content styles: the decline -----------*/
#declineWrapID {
    position: relative;  
  /*padding-top: 51px;*/
}


.declineWrap {
  /*position: relative;  */
  /*width: 100%;*/
  /*padding: 10px;*/
  /*margin-top: 28px;*/
  /*top: -51px;*/
}


.decline {

}


#declineID {
  position: relative;
  z-index: 2;
  background: -webkit-linear-gradient(270deg,  #36728c 1%, #8a8505 20%);
  background: -moz-linear-gradient(270deg,  #36728c 1%, #8a8505 20%);
  padding-left: 5%;
  padding-right: 8%;
  padding-top: 4%;
}
#declineID:before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-image: url('../img/placeHolderPics/cornFieldBarn.jpeg');
   opacity: 0.2;
   background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;

}


.declineContent {
  position: relative;
  font-size: 16px;
  display: inline;
  z-index: 99;
  margin-right: 9%;
  color: #fff;

}

.declineImage1 {
  display: inline-block;
  width: 30%;
  height: auto;
  float: left;
  margin: 1%;
  z-index: 10;
}
.declineImage2 {
  display: inline-block;
  width: 30%;
  height: auto;
  float: right;
  margin: 1%;
  z-index: 10;
}