bfarm custom styles!



/* ---------------------  navbar 2  !! ----- */

.nav-wrapper{
  height: 51px;  /* DO NOT ERASE */
  z-index: 50;
}

.stuck {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 50;
  }

.navbar2-default {
  background-color: #cc9933;
  /*border-color: rgba(34, 34, 34, 0.05);*/
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 50;
}
.navbar2-default .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar2-default .navbar-header .navbar-brand:hover,
.navbar2-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar2-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar2-default .nav > li > a,
.navbar2-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar2-default .nav > li > a:hover,
.navbar2-default .nav > li > a:focus:hover {
  color: #F05F40;
}
.navbar2-default .nav > li.active > a,
.navbar2-default .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar2-default .nav > li.active > a:hover,
.navbar2-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

.nav2chapter{}


/* ---------------------------------- min 768  ------------------------------  */
/* ---------------------------------- min 768  ------------------------------  */
/* ---------------------------------- min 768  ------------------------------  */

@media (min-width: 768px) {

/* ---------------------    nav2 !! --------------------- */
  /*.stuck {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    margin-bottom: 51px !important;
  }*/
   .navbar2-default {
    /*background-color: transparent;*/
    /*border-color: rgba(255, 255, 255, 0.3);*/
    margin-bottom: 0px;
  }
  #nav2-items {
    margin-left: 160px;
  }
  #nav2-items ul li a {
    padding: 0px 5px 0px 5px !important;
  }

.splash { 


}

/*--------------------   image detailing -----------*/
/*-------------- ---------  image detailing -----------*/
/*-------------- -----------  image detailing -----------*/

 /* .hov:hover {
  	cursor: pointer;
  	box-shadow: 0 0 5px 3px rgba(0, 140, 186, 0.5);


  }
  #benFarm, #benHouse, #benLogo {
  	width: 400px;
  	border-radius: 5px;*/
  	/*background-size: 20px 20px;*/
  	/*cursor: pointer;*/
/*
  }
 #benPor {
  	width: 200px;
  	border-radius: 5px;*/
  	/*background-size: 20px 20px;*/
  	/*cursor: pointer;*/
/*
  }

  #benHouse {

  }
  #benLogo {

  }*/


}  /*-------------------------- > end of min 768*/


/* ---------------------------------- min 992 ------------------------------  */
/* ---------------------------------- min 992  ------------------------------  */
/* ---------------------------------- min 992  ------------------------------  */

@media (min-width: 992px) {}

